.my {
    float: inherit;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 2px;
    }

    .myy {
        float: inherit;
        color: black;
        text-align: center;
        padding: 10px 12px;
        text-decoration: none;
        font-size: 10px;
        margin: 2px;
        
        }