<div>

  <div class="topnav">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Book Store</a>
    <a routerLink="orders" routerLinkActive="active" *ngIf="isLoggedIn">Orders</a>
  </div>

  <div style="margin: 30px 470px 10px 550px;">
    <mat-card *ngIf="!isLoggedIn">
      <mat-form-field class="example-form-field">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="user@email.com" #email>
      </mat-form-field>
      <mat-form-field class="example-form-field">
        <mat-label>Password</mat-label>
        <input type="password" matInput #password>
      </mat-form-field>
      <button class="my" (click)='login(email.value, password.value)'>Login</button>
    </mat-card>

    <mat-card *ngIf="isLoggedIn">
      <button class="my" (click)='logout()'>Logout</button>
    </mat-card>
  </div>

  <router-outlet></router-outlet>
</div>