<mat-card style="margin: 50px;">
    <span>Orders</span>
    <mat-table [dataSource]="orders">

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> ID</mat-header-cell>
            <mat-cell *matCellDef="let book"> {{book.id}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="author">
            <mat-header-cell *matHeaderCellDef> Author</mat-header-cell>
            <mat-cell *matCellDef="let book"> {{book.author}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef> Title</mat-header-cell>
            <mat-cell *matCellDef="let book"> {{book.title}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef> Price</mat-header-cell>
            <mat-cell *matCellDef="let book"> {{book.price}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
        <mat-row  *matRowDef="let row; columns: columns;"></mat-row>
    </mat-table>
</mat-card>

